/* Global Styles */
@import url('/src/assets/fonts/font.css');
:root {
    --default-background: #000000; /* Outside Container(s) */

    --primary-color: #121212; /* Each Container */
    --secondary-color: #FFFFFF;

    --primary-highlight-color: #1a1a1a; /* Container Content Hover */
    --secondary-highlight-color: #565656; /* Content-Container Playlist-Block Hover */
    --nonhighlight-text-color: #c8c8c8; /* Inactive Text Color (No Hover) */
    --nonhighlight-card-color: #262626; /* Inactive Card Color (No Hover) */

    --bubble-color: #2b2b2b; /* Included List */
    --playlist-block: #484848;

    --regular-font-size: 1rem;
    --medium-font-size: 0.875rem;
    --small-font-size: 0.75rem;
    --regular-font-weight: 400;
    --bold-font-weight: 700;
    
    --large-border-radius: 9999px;
    --regular-border-radius: 8px;
    --small-border-radius: 5px;

    font-family: 'avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Backup(s) for Avenir Font Misbehavior(s) */
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* Layout Container (Grandparent) */
.container {
    display: flex;
    position: relative;
    box-sizing: border-box;
}

/* Left Sidebar - Section 1 (Parent) */
.left-sidebar-1 {
    background-color: var(--primary-color);
    font-weight: var(--bold-font-weight);
    font-size: var(--regular-font-size);
    border-radius: var(--regular-border-radius);
    width: 16.875rem;
    height: 9.625rem;
    margin-bottom: 0.438rem;
}

/* Left Sidebar - Icons and Text Styles */
#spotify,
#home,
#search, 
#library,
#bubble-search,
#recents-list,
#library-text,
#spotify-text,
#home-text,
#search-text,
#add,
#recents-text,
.playlist-list-cover-text,
#greetings,
.playlist-block-cover-text,
#playlist-type {
    font-weight: var(--bold-font-weight);
    position: relative;
}

#spotify, #home, #search, #library {
    top: 1.25rem;
    left: 1.25rem;
}

#spotify-text { /* Logo -- Separate Positioning */
    color: var(--secondary-color);
    top: 1rem;
    left: 0.95rem;
}

#home-text {
    color: var(--secondary-color);
} 

#search-text {
    color: var(--nonhighlight-text-color);
}

#home-text, #search-text {
    font-weight: var(--bold-font-weight);
    top: 1rem;
    left: 1.75rem;
}

#home:hover, #home-text:hover, #search:hover, #search-text:hover, #library:hover, #library-text:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

#profile {
    position: relative;
    border-radius: 50%; /* Circle */
    width: 1.75rem;
    height: 1.75rem;
    bottom: 7.5rem;
    left: 85.5rem;
}

/* Left Sidebar - Section 2 (Parent) */
.left-sidebar-2 {
    background-color: var(--primary-color);
    border-radius: var(--regular-border-radius);
    width: 16.875rem;
    height: 37.5rem;
}

/* Left Sidebar - Icons and Text Styles */
#library-text {
    color: var(--nonhighlight-text-color);
    top: 1rem;
    left: 1.75rem;
}
#add {
    top: 1rem;
    left: 7rem;
}

.bubble {
    background-color: var(--bubble-color);
    color: var(--secondary-color);
    font-weight: var(--regular-font-weight);
    font-size: var(--medium-font-size);
    border-radius: var(--large-border-radius);
    position: relative;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 4.375rem;
    margin-left: 0.938rem;
    top: 2rem;
}

.bubble:hover {
    background-color: var(--secondary-highlight-color);
    cursor: pointer;
}

#bubble-search {
    top: 3rem;
    right: 2.813rem;
}

#recents-text {
    font-weight: var(--regular-font-weight);
    font-size: var(--medium-font-size);
    color: var(--nonhighlight-text-color);
    top: 2.5rem;
    left: 11rem;
}

#recents-list {
    top: 2.70rem;
    left: 11.45rem;
}

.playlist-item {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: var(--regular-font-weight);
    font-size: var(--regular-font-size);
    border-radius: var(--small-border-radius);
    position: relative;
    text-align: left;
    top: 3.40rem;
    left: 0.8rem;
    width: 14.625rem;
    padding: 0.5rem;
    box-shadow: none;
    border: none;
    outline: none;
}

.playlist-item:hover {
    background-color: var(--primary-highlight-color);
    cursor: pointer;
}

.cover {
    border-radius: var(--small-border-radius);
    position: relative;
    width: 3rem;
    height: 3rem;
    top: 0.1rem;
    right: 0.3rem;
}

.playlist-list-cover-text {
    left: 0.5rem;
    bottom: 1.063rem;
}

/* Main Container (Parent) */
.content-container {
    background-color: var(--primary-color);
    border-radius: var(--regular-border-radius);
    margin-left: 0.438rem;
    width: 72rem;
    overflow-x: hidden;
}

#greetings {
    color: var(--secondary-color);
    top: 3.125rem;
    left: 1.125rem;
}

.playlist-grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2,1fr);
    overflow-x: hidden;
    grid-gap: 8px;
    top: 3.5rem;
    left: 0.625rem;
}

.playlist-block {
    background-color: var(--playlist-block);
    color: var(--secondary-color);
    font-size: var(--small-font-size);
    border-radius: var(--regular-border-radius);
    flex-direction: column;
    box-sizing: border-box;
    width: 33.25rem;
    margin: 0.5rem;
    box-shadow: none;
    border: none;
    outline: none;
}

.playlist-block:hover {
    background-color: var(--secondary-highlight-color);
    cursor: pointer;
}

.playlist-block-cover-text {
    left: 0.5rem;
    bottom: 1.2rem;
}

.suggestions {
    color: var(--secondary-color);
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-between;
    column-count: 4;
    top: 8rem;
    left: 1.25rem;
}

#playlist-type {
    bottom: 4.5rem;
    right: 68.15rem;
}

.grid-card, .grid-card-cover, .grid-card-title, .grid-card-features {
    position: relative;
}

.grid-card {
    background-color: var(--nonhighlight-card-color);
    border-radius: var(--regular-border-radius);
    width: 14rem;
    height: 15rem;
    bottom: 1rem;
    left: 1.85rem;
}

.grid-card:hover {
    background-color: var(--playlist-block);
    cursor: pointer;
}

.grid-card-cover {
    border-radius: var(--regular-border-radius);
    width: 11rem;
    height: 10rem;
    top: 1rem;
    left: 1.5rem;
}

.grid-card-title {
    font-weight: var(--bold-font-weight);
    font-size: var(--regular-font-size);
}

.grid-card-features {
    font-weight: var(--regular-font-weight);
    font-size: var(--small-font-size);
}

.grid-card-title {
    top: 2.5rem;
    right: 9.5rem;
}

.grid-card-features {
    top: 2.75rem;
    left: 0.75rem;
}

/* Footer - Separated from Others (Parent) */
.footer-container, .current-cover, .current-song, .current-artist {
    position: fixed;
}

.footer-container {
    background-color: var(--default-background);
    height: 56px;
    box-sizing: border-box;
    bottom: 0;
}

.current-cover {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: var(--small-border-radius);
    bottom: 0.75rem;
    left: 0.625rem;
}

.current-song {
    color: var(--secondary-color);
    font-weight: var(--regular-font-weight);
    font-size: var(--medium-font-size);
    top: 49rem;
    left: 5rem;
}

.current-artist {
    color: var(--nonhighlight-text-color);
    font-weight: var(--bold-font-weight);
    font-size: var(--small-font-size);
    top: 50.25rem;
    left: 5rem;
}

.shuffle, .previous, .pause, .next, .repeat, .play-time, .lyrics, .queue, .connect, .volume, .volume-scale, .full-screen {
    position: relative;
}

.shuffle {
    bottom: 2.25rem;
    left: 40rem;
}

.previous {
    bottom: 2.4rem;
    left: 40rem;
}

.pause {
    bottom: 2.25rem;
    left: 42rem;
}

.next { /* Slightly off */
    bottom: 2.42rem;
    left: 44rem;
}

.repeat {
    bottom: 2.25rem;
    left: 50.75rem;
}

.play-time {
    bottom: .35rem;
    left: 16rem;
}

.lyrics {
    bottom: 3.25rem;
    left: 71.5rem;
}

.queue {
    bottom: 3.25rem;
    left: 72.5rem;
}

.connect {
    bottom: 3.25rem;
    left: 73.25rem;
}

.volume {
    bottom: 3.25rem;
    left: 74rem;
}

.volume-scale {
    bottom: 3rem;
    left: 73.5rem;
}

.full-screen {
    bottom: 3.35rem;
    left: 73.5rem;
}
