/* Global Styles */
@import url('/src/assets/fonts/font.css');
:root {
    --default-background: #000000; /* Outside Container(s) */
    --primary-color: #121212; /* Each Container */
    --secondary-color: #FFFFFF;
    --primary-highlight-color: #1a1a1a; /* Container Content Hover */
    --secondary-highlight-color: #565656; /* Content-Container Playlist-Block Hover */
    --nonhighlight-text-color: #c8c8c8; /* Inactive Text Color (No Hover) */
    --nonhighlight-card-color: #262626; /* Inactive Card Color (No Hover) */
    --bubble-color: #2b2b2b; /* Included List */
    --playlist-block: #484848;
    --regular-font-size: 1rem;
    --medium-font-size: 0.875rem;
    --small-font-size: 0.75rem;
    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --spacing: 0.5rem;

    font-family: 'avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Backup(s) for Avenir Font Misbehavior(s) */
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* Layout Container (Grandparent) */
.container {
    display: flex;
    position: relative;
    box-sizing: border-box;
}

/* Left Sidebar - Section 1 (Parent) */
.left-sidebar-1 {
    background-color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--regular-font-size);
    border-radius: 8px;
    width: 16.875rem;
    height: 9.625rem;
    margin-bottom: 0.438rem;
}

/* Left Sidebar - Icons and Text Styles */
#spotify, #home, #search, #library, #bubble-search, #list, #library-text, #spotify-text, #home-text, #search-text, #add, #recents-text, .playlist-list-cover-text, #greetings, .playlist-block-cover-text, #playlist-type {
    font-weight: var(--font-weight-bold);
    position: relative;
}

#spotify, #home, #search, #library {
    top: 1.25rem;
    left: 1.25rem;
}

#spotify-text { /* Logo -- Separate Positioning */
    color: var(--secondary-color);
    top: 1rem;
    left: 0.95rem;
}

#home-text {
    color: var(--secondary-color);
} 

#search-text {
    color: var(--nonhighlight-text-color);
}

#home-text, #search-text {
    font-weight: var(--font-weight-bold);
    top: 1rem;
    left: 1.75rem;
}

#home:hover, #home-text:hover, #search:hover, #search-text:hover, #library:hover, #library-text:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

/* Left Sidebar - Section 2 (Parent) */
.left-sidebar-2 {
    background-color: var(--primary-color);
    border-radius: 8px;
    width: 16.875rem;
    height: 37.5rem;
}

/* Left Sidebar - Icons and Text Styles */
#library-text {
    color: var(--nonhighlight-text-color);
    top: 1rem;
    left: 1.75rem;
}
#add {
    top: 1rem;
    left: 7rem;
}

.bubble {
    background-color: var(--bubble-color);
    color: var(--secondary-color);
    font-weight: var(--font-weight-regular);
    font-size: var(--medium-font-size);
    position: relative;
    box-sizing: border-box;
    border-radius: 624.938rem;
    padding: 0.5rem;
    width: 4.375rem;
    margin-left: 0.938rem;
    top: 2rem;
}

.bubble:hover {
    background-color: var(--secondary-highlight-color);
}

#bubble-search {
    top: 3rem;
    left: -2.813rem;
}

#recents-text {
    font-weight: var(--font-weight-regular);
    font-size: var(--medium-font-size);
    color: var(--nonhighlight-text-color);
    top: 2.5rem;
    left: 11rem;
}

#recents-text:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

#list {
    top: 2.70rem;
    left: 11.45rem;
}

.playlist-item {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: var(--font-weight-regular);
    font-size: var(--regular-font-size);
    position: relative;
    text-align: left;
    top: 3.40rem;
    left: 0.8rem;
    width: 14.625rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    outline: none;
}

.playlist-item:hover {
    background-color: var(--primary-highlight-color);
    cursor: pointer;
}

.cover {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    top: 0.1rem;
    left: -0.3rem;
}

.playlist-list-cover-text {
    left: 0.5rem;
    bottom: 1.063rem;
}

/* Main Container (Parent) */
.content-container {
    background-color: var(--primary-color);
    border-radius: 8px;
    margin-left: 0.438rem;
    width: 72rem;
    overflow-x: hidden;
}

#greetings {
    color: var(--secondary-color);
    top: 3.125rem;
    left: 1.125rem;
}

.playlist-grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2,1fr);
    overflow-x: hidden;
    grid-gap: 8px;
    top: 3.5rem;
    left: 0.625rem;
}

.playlist-block {
    background-color: var(--playlist-block);
    color: var(--secondary-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--small-font-size);
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
    width: 33.25rem;
    margin: 0.5rem;
    box-shadow: none;
    border: none;
    outline: none;
}

.playlist-block:hover {
    background-color: var(--secondary-highlight-color);
    cursor: pointer;
}

.playlist-block-cover-text {
    left: 0.5rem;
    bottom: 1.2rem;
}

.suggestions {
    /* background-color: var(--nonhighlight-card-color); */
    color: var(--secondary-color);
    /* display: grid;
    position: absolute; */
}

#playlist-type {
    top: 3.75rem;
    left: 1.125rem;
}

.grid-card {
    column-count: 4;
}

/* Footer - Separated from Others (Parent) */
.footer-container {
    position: fixed;
    background-color: var(--default-background);
    height: 56px;
    box-sizing: border-box;
    bottom: 0;
}

.current-cover {
    position: fixed;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    bottom: 12px;
    left: 10px;
}